<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- fragment1 -->
	<div th:fragment="sidemenu">	<!-- /include/menu::sidemenu -->
		<div></div>
		
		<div class="sidenav">
			<img th:src="@{'/styles/upload/' + ${session.loginMember.memberPic}}" class="rounded-circle" alt="Cinque Terre">
						
			<span th:text="${session.loginMember.memberId} + ' 님'" style="padding-left: 8px"></span>
						
			<a th:href="@{/home}" style="padding-left: 8px; font-size: 22px;">Home</a>			
      		<a th:href="@{/memberInfo}" style="padding-left: 8px">회원정보</a>
			<a th:href="@{/getCashListByDate}" style="padding-left: 8px">일별 가계부</a>
			<a th:href="@{/getCashListByMonth}" style="padding-left: 8px">월별 가계부</a>
			<a th:href="@{/boardList}" style="padding-left: 8px">게시판</a>
			<a th:href="@{/logout}" style="padding-left: 8px">로그아웃</a>
			
		</div>

		
	</div>
	
</body>
</html>