<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addBoardOne</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/styles/css/menu.css}" rel="stylesheet">

<script>
let helperInit = function() {
	$("#titleHelper").text("");	
};

$(document).ready(function(){
	$("#btn").click(function(){
		
		helperInit();
		
		if($("#boardTitle").val().length === 0){
			$("#titleHelper").text("제목을 입력하세요.");
			$("#boardTitle").focus();			
		}else if($("#boardContent").val().length === 0){
			$("#contentHelper").text("내용을 입력하세요.");
			$("#boardContent").focus();			
		}else{
			$("#myForm").submit();			
		}
		
	});
});
</script>

</head>
<body>
<div class="container-fluid p-0">
	<div class="row">
		<div class="col-sm-1">
			<div th:include="/include/menu::sidemenu"></div>
		</div>
		<div class="col-sm-11">
			<form th:action="@{/addBoardOne}" method="post" id="myForm">	
			
				<div style="padding-top: 60px">
					<table class="table">	
						<thead class="thead-dark">
							<tr>
								<th colspan="2">게시글 입력</th>						
							</tr>
						</thead>				
						<tbody>
							<tr>
								<td width="20%">글 제목</td>
								<td>
									<input type="text" class="form-control" id="boardTitle" name="boardTitle">
									<span id="titleHelper"></span>
								</td>
							</tr>
							<tr>
								<td>공개 여부</td>
								<td>
									<select name="boardLevel" class="custom-select" id="boardLevel">										
											<option th:value="0">전체공개</option>
											<option th:value="1">비공개</option>
									</select>									
								</td>
							</tr>
							<tr>
								<td>글 내용</td>
								<td>
									<textarea class="form-control" rows="20" id="boardContent" name="boardContent"></textarea>
									<span id="contentHelper"></span>
								</td>							
							</tr>						
						</tbody>
					</table>				
						
					
				</div>
				<div style="margin-top: 20px;">						
					<button class="btn" id="btn" type="button" style="width: 200px; background-color: #819FF7;">저장</button>								
				</div>

			</form>
		</div>
	</div>

	
</div>
</body>
</html>