<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addCashOne</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/styles/css/menu.css}" rel="stylesheet">

</head>
<body>
<div class="container-fluid p-0">
	<div class="row">
		<div class="col-sm-1">
			<div th:include="/include/menu::sidemenu"></div>
		</div>
		<div class="col-sm-11">
			<div style="padding-top: 60px">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th colspan="2">수입/지출 입력</th>						
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>카테고리</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td>수입/지출</td>
							<td></td>
						</tr>
						<tr>
							<td>금액</td>
							<td></td>
						</tr>
						<tr>
							<td>장소</td>
							<td></td>
						</tr>
						<tr>
							<td>메모</td>
							<td></td>
						</tr>
						
					</tbody>
				</table>				
					
				<div style="margin-top: 20px; text-align: center;">
					<a th:href="@{/}" class="btn" style="background-color: #819FF7 ; width: 200px;">입력</a>				
				</div>
			</div>


		</div>
	</div>

	
</div>
</body>
</html>