<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addCashOne</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/styles/css/menu.css}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script>
let helperInit = function(){
	$("#kindHelper").text("");
	$("#cashPrice").text("");
	$("#categoryHelper").text("");	
};

$(document).ready(function(){
	

    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });

	
	$("#btn").click(function(){		
		helperInit();
		
		if($("select[name=categoryName]").val() == "미선택"){
			$("#categoryHelper").text("카테고리를 선택하세요.");
		}else if($("select[name=cashKind]").val() == "미선택"){
			$("#kindHelper").text("수입/지출을 선택하세요.");
		}else if($("#cashPrice").val().length === 0){
			$("#priceHelper").text("금액을 입력하세요.");			
		}else{
			$("#myForm").submit();
		}	
	});
	
	$("#cashKind").change(function(){
		//alert(this.value);
		let cashKind = this.value;
        $.ajax({        	
            url: '/cashbook/getCategory'
            ,type:'POST'
            ,data:{'categoryDesc':cashKind}
            ,success : function(data) {
            	$("#categoryName").empty();
            	$("#categoryName").append("<option th:value='미선택'>카테고리를 선택하세요.</option>")
            	$(data).each(function(index,item){            		
            		$("#categoryName").append("<option th:value=" + item + ">" + item + "</option>")            		
            	});
            }
        });
	});
	
});
</script>
</head>
<body>
<div th:include="/include/menu::navSidemenu"></div>
<div class="container">
	<div style="padding-top: 60px">
		<form id="myForm" method="post" th:action="@{/addCashOne}">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th colspan="2">수입/지출 입력</th>						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>날짜선택</td>
						<td>									
							<input id="datepicker" name="cashDatePicker" width="auto" th:value="${#temporals.format(day,'MM/dd/yyyy')}">
							
						</td>
					</tr>
					<tr>
						<td>수입/지출</td>
						<td>
							<select name="cashKind" class="custom-select" id="cashKind">
								<option th:value="미선택">수입/지출을 선택하세요.</option>
								<option th:value="1">수입</option>
								<option th:value="0">지출</option>
							</select>
							<span id="kindHelper"></span>
						</td>
					</tr>
					<tr>
						<td style="width: 15%;">카테고리</td>
						<td>
							<select name="categoryName" class="custom-select" id="categoryName">
								<option th:value="미선택">카테고리를 선택하세요.</option>
							</select>	
							<span id="categoryHelper"></span>										
						</td>
					</tr>
					
					<tr>
						<td>금액</td>
						<td>
							<input type="text" class="form-control" id="cashPrice" name="cashPrice">
							<span id="priceHelper"></span>
						</td>
					</tr>
					<tr>
						<td>장소</td>
						<td>
							<input type="text" class="form-control" id="cashPlace" name="cashPlace">
						</td>
					</tr>
					<tr>
						<td>메모</td>
						<td>
							<input type="text" class="form-control" id="cashMemo" name="cashMemo">
						</td>
					</tr>
					
				</tbody>
			</table>				
				
			<div style="margin-top: 20px; text-align: center;">
				<button type="button" id="btn" class="btn" style="background-color: #819FF7 ; width: 200px;">입력</button>									
			</div>
		</form>
	</div>


	
</div>
</body>
</html>