<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
let helperInit = function() {
	$("#idHelper").text("");
	$("#pwHelper").text("");	
};
$(document).ready(function(){
	$("#btn").click(function(){
		helperInit();
		
		if($("#memberId").val().length == 0){
			$("#idHelper").text("ID를 입력하세요.");
			$("#memberId").focus();	
		}else if($("#memberEmail").val().length == 0){
			$("#pwHelper").text("이메일를 입력하세요.");
			$("#memberEmail").focus();	
		}else{
			$("#searchForm").submit();	
		}
	});
});
</script>
<style>
	.search h1{
		text-align: center;
		margin: 100px;
	}
	.search .searchInput {
		width: 400px;
		margin: 20px;	
		margin-left: auto;
		margin-right: auto;	
		text-align: center;
	}
</style>
</head>
<body>
<div class="container-fluid p-0">
		
	<div class="search">
		<h1>비밀번호 찾기</h1>		
		<form id="searchForm" method="post" th:action="@{/findMemberPw}">
			<div class="searchInput">
				<input type="text" id="memberId" name="memberId" class="form-control" placeholder="아이디를 입력하세요.">	
				<span id="idHelper"></span>	
			</div>
			<div class="searchInput">
				<input type="text" id="memberEmail" name="memberEmail" class="form-control" placeholder="이메일를 입력하세요.">
				<span id="emailHelper"></span>
			</div>			
			<div class="searchInput">		
				<button type="button" id="btn" class="btn btn-primary btn-block">비밀번호 찾기</button>
			</div>
			<div class="searchInput">
				<a th:href="@{/}" class="btn btn-primary btn-block">메인페이지로</a>				
			</div>
		</form>
	</div>	
	
</div>	
</body>
</html>