<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>	
	.divBottom{		
		margin-top: 100px;
		text-align: center;
	}
	
	.cash h1 {
		text-align: center;
		margin: 200px;
	}
	
	.cash .memberBtn {
		text-align: center;
		margin: 20px;
	}
	
	.cash .memberBtn a {
		width: 400px;
	}
	
</style>
</head>
<body>
<div class="container-fluid p-0">
		
	<div class="cash">
		<h1>Cash Book</h1>
		<div th:if="${session.loginMember != null}">
			<div class="memberBtn"><a th:href="@{/home}" class="btn btn-primary">메인 페이지</a></div>
			<div class="memberBtn"><a th:href="@{/logout}" class="btn btn-primary" th:text="${session.loginMember.memberId} + '님 로그아웃'"></a></div>			
		</div>
		<div th:if="${session.loginMember == null}">
			<div class="memberBtn"><a th:href="@{/adminLogin}" class="btn btn-primary">관리자 로그인</a></div>
			<div class="memberBtn"><a th:href="@{/login}" class="btn btn-primary">일반회원 로그인</a></div>
			<div class="memberBtn"><a th:href="@{/addMember}" class="btn btn-primary">회원가입</a></div>
			
		</div>
		
		
		<div class="memberBtn" th:text="${msg}">
		
		</div>
		
		
		
		
	</div>
	<div class="divBottom">
		본 콘텐츠의 저작권은 제공처에 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 법적 책임을 질 수 있습니다.<br>
		Copyright © JSsoft Corp. All Rights Reserved.
	</div>
	
</div>
</body>
</html>