<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>

let helperInit = function() {
	$("#idHelper").text("");
	$("#pwHelper").text("");	
};

$(document).ready(function(){
	$("#btn").click(function(){
		helperInit();
		
		if($("#memberId").val().length == 0){
			$("#idHelper").text("ID를 입력하세요.");
			$("#memberId").focus();	
		}else if($("#memberPw").val().length == 0){
			$("#pwHelper").text("PW를 입력하세요.");
			$("#memberPw").focus();	
		}else{
			$("#loginForm").submit();	
		}
	});
});
</script>

<style>
	.login h1{
		text-align: center;
		margin: 100px;
	}
	.login .loginInput {
		width: 400px;
		margin: 20px;	
		margin-left: auto;
		margin-right: auto;	
		text-align: center;
	}
</style>
</head>
<body>
<div class="container-fluid p-0">
		
	<div class="login">
		<h1>Login</h1>		
		<form id="loginForm" method="post" th:action="@{/login}">
			<div class="loginInput">
				<input type="text" id="memberId" name="memberId" class="form-control" placeholder="아이디를 입력하세요." th:value="${id}">	
				<span id="idHelper"></span>	
			</div>
			<div class="loginInput">
				<input type="password" id="memberPw" name="memberPw" class="form-control" placeholder="비밀번호를 입력하세요.">
				<span id="pwHelper" th:text="${msg}"></span>
			</div>	
			<div class="loginInput">
				<a href="/findMemberId">아이디 찾기</a>
				<a href="/findMemberPw">비밀번호 찾기</a>
			</div>
			<div class="loginInput">		
				<button type="button" id="btn" class="btn btn-primary btn-block">로그인</button>
			</div>
			<div class="loginInput">
				<a th:href="@{/addMember}" class="btn btn-primary btn-block">회원가입하기</a>				
			</div>
		</form>
	</div>	
	
</div>	
</body>
</html>