<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>modifyMember</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/styles/css/menu.css}" rel="stylesheet">

<script th:inline="javascript">
	var userImg = "/styles/upload/" +[[${member.memberPic}]];		
</script>

<script>

//email 정규식
function isEmail(asValue) {
	var regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
	return regExp.test(asValue); // 형식에 맞는 경우 true 리턴
}

let helperInit = function() {
	$("#nameHelper").text("");
	$("#addrHelper").text("");
	$("#phoneHelper").text("");
	$("#emailHelper").text("");
	$("#imgHelper").text("");
};

$(document).ready(function(){
	
	let imageTrue = true;
	
	$("#btn").click(function(){
		
		helperInit();
		
		if($("#memberName").val().length == 0){
			$("#nameHelper").text("이름을 입력하세요.");
			$("#memberName").focus();	
		}else if($("#memberAddr").val().length == 0){
			$("#addrHelper").text("주소를 입력하세요.");
			$("#memberAddr").focus();	
		}else if($("#memberPhone").val().length == 0){
			$("#phoneHelper").text("전화번호를 입력하세요.");
			$("#memberPhone").focus();	
		}else if($("#memberEmail").val().length == 0){
			$("#emailHelper").text("이메일을 입력하세요.");
			$("#memberEmail").focus();	
		}else if(!isEmail($("#memberEmail").val())){
			$("#emailHelper").text("이메일 형식이 맞지 않습니다.");
			$("#memberEmail").focus();
		}else if(!imageTrue){
			$("#imgHelper").text("이미지 형식이 맞지 않습니다.");	
		}else{
			$("#modifyForm").submit();
		}
	});
	
	// Add the following code if you want the name of the file appear on select
	$(".custom-file-input").on("change", function() {
	  var fileName = $(this).val().split("\\").pop();
	  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
	
	let sel_file;
	
	$("#memberPic").on("change", handleImgFileSelect);
	
	function handleImgFileSelect(e){		
		helperInit();
		$("#img").attr("src", userImg);
		imageTrue = true;
		let files = e.target.files;
		let filesArr = Array.prototype.slice.call(files);
		
		filesArr.forEach(function(f){		
			
			if(!f.type.match("image.*")){				
				imageTrue = false;
				return;
			}
			imageTrue = true;
			
			sel_file = f;
			
			var reader = new FileReader();
			reader.onload = function(e){
				$("#img").attr("src", e.target.result);
			}
			reader.readAsDataURL(f);
		});
	}
	
	
});
</script>



</head>
<body>
<div th:include="/include/menu::navSidemenu"></div>
<div class="container">
	<div style="padding-top: 60px">
		<form id="modifyForm" method="post" th:action="@{/modifyMember}" enctype="multipart/form-data">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th colspan="2">회원정보 수정</th>						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>사진</td>
						<td>
							<img th:src="@{'/styles/upload/' + ${member.memberPic}}" style="width: 150px;" id="img">
							<div class="custom-file mb-3" style="margin-top: 10px">
					      		<input type="file" class="custom-file-input" id="memberPic" name="memberPic">
					      		<label class="custom-file-label" for="memberPic"></label>
					    	</div>
					    	<span id="imgHelper"></span>
						</td>
					</tr>
					<tr>
						<td width="20%">아이디</td>
						<td><input id="memberId" name="memberId" type="text" class="form-control" th:value="${member.memberId}" readonly="readonly"></td>
					</tr>						
					<tr>
						<td>이름</td>
						<td>
							<input id="memberName" name="memberName" type="text" class="form-control" th:value="${member.memberName}">
							<span id="nameHelper"></span>
						</td>							
					</tr>
					<tr>
						<td>주소</td>
						<td>
							<input id="memberAddr" name="memberAddr" type="text" class="form-control" th:value="${member.memberAddr}">
							<span id="addrHelper"></span>
						</td>							
					</tr>
					<tr>
						<td>전화번호</td>
						<td>
							<input id="memberPhone" name="memberPhone" type="text" class="form-control" th:value="${member.memberPhone}">
							<span id="phoneHelper"></span>
						</td>							
					</tr>
					<tr>
						<td>이메일</td>
						<td>
							<input id="memberEmail" name="memberEmail" type="text" class="form-control" th:value="${member.memberEmail}">
							<span id="emailHelper"></span>
						</td>
					</tr>
				</tbody>
			</table>	
			
			<button id="btn" type="button" class="btn" style="background-color: #819FF7; width: 200px;">회원정보 수정</button>
		</form>
			
	</div>


	
</div>
</body>
</html>