<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>modifyPassword</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/styles/css/menu.css}" rel="stylesheet">
<script>

let helperInit = function() {
	$("#pwHelper").text("");
	$("#pwUpdateHelper").text("");
	$("#pwUpdateHelper2").text("");	
};

$(document).ready(function(){
	$("#btn").click(function(){
		
		helperInit();
		
		if($("#memberPw").val().length == 0){
			$("#pwHelper").text("현재 비밀번호를 입력하세요.");
			$("#memberPw").focus();	
		}else if($("#updateMemberPw").val().length == 0){
			$("#pwUpdateHelper").text("새 비밀번호를 입력하세요.");
			$("#updateMemberPw").focus();	
		}else if($("#updateMemberPw2").val().length == 0){
			$("#pwUpdateHelper2").text("새 비밀번호 확인을 입력하세요.");
			$("#updateMemberPw2").focus();	
		}else if($("#updateMemberPw").val() != $("#updateMemberPw2").val()){
			$("#pwUpdateHelper").text("새 비밀번호가 같은지 확인하세요.");
			$("#updateMemberPw2").focus();	
		}
		else{
			$("#modifyPasswordForm").submit();
		}
	});
});
</script>

</head>
<body>
<div th:include="/include/menu::navSidemenu"></div>
<div class="container">
	<div style="padding-top: 60px">
		<form id="modifyPasswordForm" method="post" th:action="@{/modifyPassword}">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th colspan="2">비밀번호 수정</th>						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="20%">아이디</td>
						<td><input id="memberId" name="memberId" type="text" class="form-control" th:value="${session.loginMember.memberId}" readonly="readonly"></td>
					</tr>						
					<tr>
						<td>현재 비밀번호</td>
						<td>
							<input id="memberPw" name="memberPw" type="password" class="form-control">
							<span id="pwHelper"></span>
						</td>							
					</tr>
					<tr>
						<td>새 비밀번호</td>
						<td>
							<input id="updateMemberPw" name="updateMemberPw" type="password" class="form-control">
							<span id="pwUpdateHelper"></span>
						</td>							
					</tr>
					<tr>
						<td>새 비밀번호 확인</td>
						<td>
							<input id="updateMemberPw2" name="updateMemberPw2" type="password" class="form-control">
							<span id="pwUpdateHelper2"></span>
						</td>							
					</tr>							
				</tbody>
			</table>	
			
			<button id="btn" type="button" class="btn" style="background-color: #819FF7; width: 200px;">비밀번호 수정</button>
		</form>
			
	</div>

	
</div>
</body>
</html>