<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>removeMember</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/styles/css/menu.css}" rel="stylesheet">
<script>

let helperInit = function() {	
	$("#pwHelper").text("");	
};

$(document).ready(function(){
	$("#btn").click(function(){
		
		helperInit();
		
		if($("#memberPw").val().length == 0){
			$("#pwHelper").text("비밀번호을 입력하세요.");
			$("#memberPw").focus();	
		}else{
			$("#removeForm").submit();
		}
	});
});
</script>

</head>
<body>
<div class="container-fluid p-0">
	<div class="row">
		<div class="col-sm-1">
			<div th:include="/include/menu::sidemenu"></div>
		</div>
		<div class="col-sm-11">
			<div style="padding-top: 60px">
				<form id="removeForm" method="post" action="/removeMember">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th colspan="2">회원탈퇴</th>						
							</tr>
						</thead>
						<tbody>
							<tr>
								<td width="20%">아이디</td>
								<td><input id="memberId" name="memberId" type="text" class="form-control" th:value="${member.memberId}" readonly="readonly"></td>
							</tr>	
							<tr>
								<td width="20%">비밀번호</td>
								<td>
									<input id="memberPw" name="memberPw" type="password" class="form-control">
									<span id="pwHelper"></span>
								</td>
							</tr>
						</tbody>
					</table>	
					
					<button id="btn" type="button" class="btn" style="background-color: #819FF7; width: 200px;">회원탈퇴</button>
				</form>
					
			</div>


		</div>
	</div>

	
</div>
</body>
</html>