<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.AdminMapper">

	<!-- 회원 전체 인원 파악 -->
	<select id="selectMemberCnt" resultType="int">
		SELECT COUNT(*)
		FROM cashbook_member
		WHERE member_id NOT IN (SELECT admin_id FROM cashbook_admin)
	</select>

	<select id="selectMemberList" resultType="com.gdu.cashbook.vo.Member" parameterType="hashmap">
		SELECT 
			member_id AS memberId,
			member_name AS memberName,
			member_addr AS memberAddr,
			member_phone AS memberPhone,
			member_email AS memberEmail			
		FROM cashbook_member 
		WHERE member_id NOT IN (SELECT admin_id FROM cashbook_admin)
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<select id="selectLoginAdmin" parameterType="com.gdu.cashbook.vo.Admin" resultType="String">
		SELECT admin_id 
		FROM cashbook_admin 
		WHERE 
			admin_id = 
		(
			SELECT member_id 
			FROM cashbook_member 
			WHERE member_id = #{adminId} 
			AND member_pw = PASSWORD(#{adminPw})
		)		
	</select>

</mapper>