<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">

	<!-- 사용자 사진 정보 가져오기 -->
	<select id="selectMemberPic" parameterType="String" resultType="String">
		SELECT member_pic
		FROM kanghogado.cashbook_member
		WHERE member_id = #{memberId}
	</select>

	<!-- ID 찾기(문자열 일부만 보여주기) -->
	<select id="selectMemberIdByMember" parameterType="com.gdu.cashbook.vo.Member" resultType="String">
		SELECT CONCAT(SUBSTRING(member_id, 1, 3), '****')
		FROM kanghogado.cashbook_member
		WHERE member_name = #{memberName}
		AND member_phone = #{memberPhone}
		AND member_email = #{memberEmail}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="updateMemberPwOne" parameterType="com.gdu.cashbook.vo.UpdateMemberPw">
		UPDATE cashbook_member 
		SET member_pw = PASSWORD(#{updateMemberPw})
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</update>

	<!-- 회원탈퇴 -->
	<delete id="deleteMemberOne" parameterType="com.gdu.cashbook.vo.LoginMember">
		DELETE 
		FROM kanghogado.cashbook_member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</delete>

	<!-- 회원정보 수정 -->
	<update id="updateMemberOne" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE cashbook_member
		SET 
			member_name = #{memberName},
			member_addr = #{memberAddr},
			member_phone = #{memberPhone},
			member_email = #{memberEmail}
		<if test="memberPic != null">
			, member_pic = #{memberPic}
		</if>
		WHERE member_id = #{memberId}
	</update>

	<!-- 회원 개인정보 가져오기 -->
	<select id="selectMemberOne" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.Member">
		SELECT 
			member_id AS memberId,
			member_name AS memberName,
			member_addr AS memberAddr,
			member_phone AS memberPhone,
			member_email AS memberEmail,
			member_pic AS memberPic
		FROM cashbook_member
		WHERE member_id = #{memberId}		
	</select>

	<!-- 비밀번호 찾기시 랜덤으로 비밀번호 변경 -->
	<update id="updateMemberRandPw" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE cashbook_member
		SET member_pw = PASSWORD(#{memberPw})
		WHERE member_id = #{memberId}
		AND member_email = #{memberEmail}
	</update>

	<!-- 로그인 시도 -->
	<select id="selectLoginMember" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.LoginMember">
		SELECT 
			member_id AS memberId,
			member_pic AS memberPic
		FROM cashbook_member
		WHERE member_id = #{memberId} 
		AND member_pw = PASSWORD(#{memberPw})
		AND member_id NOT IN (SELECT admin_id FROM cashbook_admin)
	</select>

	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.gdu.cashbook.vo.Member">
		INSERT INTO cashbook_member(
			member_id, 
			member_pw, 
			member_name, 
			member_addr, 
			member_phone, 
			member_email,
			member_pic
		) VALUES(
			#{memberId}, 
			PASSWORD(#{memberPw}), 
			#{memberName}, 
			#{memberAddr}, 
			#{memberPhone}, 
			#{memberEmail},
			#{memberPic}
		);
	</insert>
	
	<!-- 회원가입시 db에 동일한 ID가 있는지 확인 -->
	<select id="selectMemberIdCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM
			(SELECT member_id AS mi FROM cashbook_member
			UNION
			SELECT memberid AS mi FROM  cashbook_memberid) t
		WHERE mi = #{memberId};
	</select>
</mapper>